.terminal-background {
    background-color: black;
    color: white;
    margin: 0;
    padding: 10px;
    height: 100%;
    font-family: Consolas, monospace;

    overflow-y: scroll;
    word-break: break-all;
}

.terminal-output-area {
    margin: 0;
}

.terminal-input-area {
    margin: 0;
}

.terminal-input-area .terminal-caret {
    background-color: white;

    user-select: none;
}

.terminal-input-area .terminal-caret.blink {
    animation: blink infinite 0.8s linear;
}

.terminal-background input {
    // visibility: hidden;
    position: absolute;
    z-index: -1;
}

.terminal-background[theme=amber] {
    color: #ffbf00;
    background-color: #2D2504;
}

.terminal-background[theme=amber] .terminal-caret {
    color: #ffbf00;
    background-color: #ffbf00;
}

.terminal-background[theme=green] {
    color: #8FFF00;
    background-color: #0f1d07;
}

.terminal-background[theme=green] .terminal-caret {
    color: #8FFF00;
    background-color: #8FFF00;
}

.terminal-background[theme=c64] {
    color: #7c70da;
    background-color: #3d31a2;
}

.terminal-background[theme=c64] .terminal-caret {
    color: #7c70da;
    background-color: #7c70da;
}

.terminal-background[theme=char-custom] {
    color: white;
    background-color: #880909;
}

.terminal-background[theme=char-custom] .terminal-caret {
    color: white;
    background-color: white;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}
