.terminal-background {
    background-color: black;
    color: white;
    margin: 0;
    padding: 10px;
    height: 100%;
    font-family: Consolas, monospace;

    overflow-y: scroll;
    word-break: break-all;
}

.terminal-output-area {
    margin: 0;
}

.terminal-input-area {
    margin: 0;
}

.terminal-input-area .terminal-caret {
    background-color: white;

    user-select: none;
}

.terminal-input-area .terminal-caret.blink {
    animation: blink infinite 0.8s linear;
}

.terminal-background input {
    // visibility: hidden;
    position: absolute;
    z-index: -1;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}
